<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <!--Секция в которой хранятся наборы пар ключ-значение в строках-->
    <add key="appConnection" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ИргалиевЕ.CORP\source\repos\ConnectedLevelApp\ConnectedLevelApp.DataAccess\Database.mdf;Integrated Security=True" />
  </appSettings>
  <connectionStrings>
    <add name="appConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ИргалиевЕ.CORP\source\repos\PizzaApp\PizzaApp.DataAccess\Database.mdf;Integrated Security=True" />
    
  </connectionStrings>
</configuration>