<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="Ab8zPbxBbiYu1TuE-3jyw0M6m41tBR4mhjXNDP1ZzQMEJ4JfQ9yJJy3qLT2LrO0oIrf-qpm7beMLAAXD" />
      <add name="clientSecret" value="EMSYp9szDMBOMFd-nag3_VbHHm7LieAVIFK4FZNtidyRfGpIQwhcnEfdwPlophxERxgkhHsUMRngbm09" />
    </settings>
  </paypal>
  <appSettings>
    <!--Секция в которой хранятся наборы пар ключ-значение в строках-->
    <add key="appConnection" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ИргалиевЕ.CORP\source\repos\Practice_PizzaApp\PizzaApp.DataAccess\DatabasePizza.mdf;Integrated Security=True" />
  </appSettings>
  <connectionStrings>
    <add name="appConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ИргалиевЕ.CORP\source\repos\Practice_PizzaApp\PizzaApp.DataAccess\DatabasePizza.mdf;Integrated Security=True" />
  </connectionStrings>

  <!-- PayPal SDK settings -->
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.TypeConverter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>